html{
  background: rgb(red, green, blue); 
  width: 100%;
  height: 100%;
}

h1{
  margin-left: 25%;
  
  color: darkmagenta;
}

.container {
  position: static;
  width: 65%;  
  height: 65%;
  left: 15%;
  top: 15%;
}

.rangeRed{
  position: absolute;
  width: 177px;
  height: 27px;
  left: 120px;
  top: 160px;
  font-family: Roboto; 
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color:darkred;

}

.rangeGreen{
   position: absolute;
  width: 177px;
  height: 27px;
  left: 133px;
  top: 210px;
  font-family: Roboto; 
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color:darkgreen;
}

.rangeBlue{
  position: absolute;
  width: 177px;
  height: 27px;
  left: 125px;
  top: 260px;
  font-family: Roboto; 
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: darkblue;
}

#inputRangeRed{
  position: absolute;
  width: 177px;
  height: 27px;
  left: 350px;
  top: 160px;
  background :darkred;
}

#inputRangeGreen{
  position: absolute;
  width: 177px;
  height: 27px;
  left: 350px;
  top: 210px;
  background: darkgreen;
}

#inputRangeBlue{
  position: absolute;
  width: 177px;
  height: 27px;
  left: 350px;
  top: 260px;
  background: darkblue;
}


#inputTextRed{
  position: absolute;
  width: 130px;
  height: 20px;
  left: 550px;
  top: 150px;
  text-align: center;
  font-family: Roboto; 
  font-weight: 900;
  text-decoration-color: black;
  background: darkred;  
  border-radius: 30px;

}

#inputTextGreen{
  position: absolute;
  width: 130px;
  height: 20px;
  left: 550px;
  top: 200px;
  text-align: center;
  font-family: Roboto; 
  font-weight: 900;
  text-decoration-color: black;
  background: darkgreen;
  border-radius: 30px;
}

#inputTextBlue{
  position: absolute;
  width: 130px;
  height: 20px;
  left: 550px;
  top: 250px;
  text-align: center;
  font-family: Roboto; 
  font-weight: 900;
  text-decoration-color: whitesmoke;
  background: darkblue;
  border-radius: 30px;
}

#changedColor{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 700px;
  top: 150px;
  background: white;
  border-radius: 50%;
}

#valueColor{
  position: absolute;
  width: 150px;
  height: 20px;
  left: 700px;
  top: 300px;
  text-align: center;
  font-family: Roboto; 
  font-weight: 900;
  text-decoration-color: black;
  background: white;
  border-radius: 10px;
}

